.DS_Store
**/.DS_Store
/node_modules
backend/server/python/movies.csv
backend/server/python/movies.csv
backend/server/python/scaled_features.csv
backend/server/python/notebooks/movieDataset.csv
backend/server/python/notebooks/name.basics.tsv
backend/server/python/notebooks/title.akas.tsv
backend/server/python/notebooks/title.basics.tsv
backend/server/python/notebooks/title.crew.tsv
backend/server/python/notebooks/title.principals.tsv
backend/server/python/notebooks/title.ratings.tsv
backend/server/python/notebooks/tmdb_top_movies.csv
backend/server/python/notebooks/.ipynb_checkpoints/Dataset-checkpoint.ipynb
frontend/.env

